<!DOCTYPE html>
<html>
<head>
<link   href="../static/js/jquery-treetable/css/jquery.treetable.css" rel="stylesheet" tyle="text/css">
<link   href="../static/js/jquery-treetable/css/jquery.treetable.theme.default.css" rel="stylesheet" tyle="text/css">
<link   href="../static/js/jquery-treetable/css/screen.css" rel="stylesheet" media="screen">
<style type="text/css">
div#top{margin:0 auto;text-align:center;}
div#box{margin:0 auto;text-align:center;}
input#username{height: 25px;width:100px;display:inline;}
input#passwd{height: 25px;width:100px;display:inline;}
input#repasswd{height: 25px;width:100px;display:inline;}
     
</style>
<script type="text/javascript" src="../static/js/Highcharts-4.1.5/api/js/jquery.min.js"></script>
<script src="../static/js/jquery-treetable/jquery.treetable.js"></script>
<script type="text/javascript" src="../static/js/layer-v1.9.3/layer/layer.js"></script>
<script type="text/javascript" src="../static/js/layer-v1.9.3/layer/extend/layer.ext.js"></script>
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/flat-ui.min.css" rel="stylesheet">
<link href="../static/css/flat-ui.css" rel="stylesheet">
<script>



layer.config({
    extend: 'extend/layer.ext.js' 
});
//$("#dem").val(100);
$(document).ready(function(){
 


});
</script>

</head>

<body>
<div id="top">

</div>
<div id="box">
<br>
<lable style="display:inline-block;width:80px;">用户名:</lable>
<input id="username"type="text" style="text-align:center;vertical-align:middle;" class="form-control"><br><br>
<lable style="display:inline-block;width:80px;">密码:</lable>
<input id="passwd"type="password" style="text-align:center;vertical-align:middle;" class="form-control"><br><br>
<lable style="display:inline-block;width:80px;">确认密码:</lable>
<input id="repasswd"type="password" style="text-align:center;vertical-align:middle;" class="form-control">
</div>
</body>
</html>